/* Write your CSS here! */
body {
    margin: 8px;
    margin: auto;
    display: block;
    max-width: 1024px;
    background-color: rgb(95, 67, 67);
}

header, main, footer {
    padding: 1.875em;
    background-color: rgb(255, 255, 255)
}

#mainHeading {
    color: red;
    text-align: center;
    font-family: monospace;
    margin: 0%;
}

.funParagraph {
    color: green;
    font-family: monospace;
    font-size: 16px;
}

h2 {
    font-family: monospace;
    font-size: 2.5em;
    margin: 0;
}

.list {
    color: skyblue;
    text-align: center;
    padding-left: 0;
    list-style-position: inside; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

figcaption {
    text-align: center;
    font-family: monospace;
    font-size: 14px;
}

a {
    text-align: center;
    font-family: monospace;
    font-size: 14px;
}

ul {
    font-family: monospace;
    font-size: 16px;
}

footer {
    text-align: center;
    font-family: monospace;
    padding: 3em;
    font-size: 16px;
}